body{
    background-color: rgb(134, 134, 134);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    color: cyan;
}
fieldset{
    border-radius: 10px;
    border: 3px solid black;

}
legend{
    color: rgb(127, 206, 0);
    text-align: center;
    font-size: 20px;
}
input{
    width: 200px;
    height: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
input[type=radio]{
    width: 30px;
    height: 13px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
input[type=checkbox]{
    width: 30px;
    height: 13px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
}
button{
    width: 100px;
    height: 30px;
    background-color: cyan;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin-left: 120px;
}
  