    html{
        font-size: 65.5%;
    }
    body{
        background-color: rgba(216, 249, 254, 1);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(0, 0, 0);
    }    
    header{
        height: 130px;
        width: 100%;
    }
    #topo{
        
        position: relative;
        margin-top: 10px;
        text-align: right;
        width: 100%;
        height: 100px;
    }
    #topo ul{
        list-style-type: none;
        position: relative;
        left: 200px;
        height: 50px;
        width: 1000px;
        border-radius: 14px;
        background-color: rgb(78, 184, 255);
        border: 1.5px solid rgb(6, 5, 70);
        box-shadow: inset 0 0 1em rgb(4, 0, 255), 0 0 1em rgb(0, 0, 0);
    }
    #topo li{
        display: inline;
    }
    #topo ul li a{
        transition: all 0.5s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
        font-weight: 600;
        position: relative;
        top: 15px;
        margin-right: 10%;
        color: rgb(0, 0, 0);
    }
    #topo a:hover{
        color: rgb(1, 5, 56);
        border-radius: 14px;
        -webkit-transform: scale(1.1);
        text-shadow:0 0 1em rgb(0, 80, 150), 0 0 0.2em rgb(1, 80, 150);
    }
    #topo img{
        position: relative;
        right: 1200px;
        width: 90px;
        top: 50px;
        height: 80px;
    }
    h3{
        text-align: center;
        color: black;
        font-size: medium;
        font-weight: bolder;
    }
    .infos p{
        text-align: center;
        font-size: 10px;
        color: black;
        font-weight: bolder;
    }
    li{
        margin-left: 12px;
        color: black;
        font-size: 10px;
    }
    .infos img{
        width: 50px;
        height: 40px;
        position: relative;
        left: 20%;
    }
    #binfo{
        position: relative;
        width: 100%;
        height: 300px;
        left: 20%;
    }
    .infos{
        transition: all 0.5s;
        margin: 20px;
        width: 200px;
        float: left;
        height: 220px;
        margin-left: 2.5%;
        background-color: cyan;
        border-radius: 14px;
        margin-top: 20px;
        border: 1.5px solid rgb(6, 5, 70);
        box-shadow: inset 0 0 1em rgb(4, 0, 255), 0 0 1em rgb(0, 0, 0);    
    }
    .infos:hover{
        border-radius: 14px;
        -webkit-transform: scale(1.1);
        text-shadow:0 0 1em rgb(0, 80, 150), 0 0 0.2em rgb(1, 80, 150);
    }
    #binfo ul{
        list-style-type: none;
        font-weight: bolder;
    }
    #imagem{
        position: relative;
        width: 600px;
        height: 100px;
        top: 25px;
        left: 200px;
    }
    #ihome{
        transition: all 0.5s;
        position: relative;
        width: 1000px;
        height: 200px;
        top: 50px;
        left: 175px;
        background-color: rgb(112, 192, 206);
        border-radius: 14px;
        border: 1.5px solid rgb(6, 5, 70);
        box-shadow: inset 0 0 1em rgb(4, 0, 255), 0 0 1em rgb(109, 32, 32);
    }
    #ihome:hover{
        border-radius: 14px;
        -webkit-transform: scale(1.1);
    }
    #ihome p{
        text-align: center;
        font-size: 15px;
        color: black;
        font-weight: bolder;
    }
    .servicos{
        transition: all 0.5s;
        position: relative;
        float: left;
        width: 475px;
        margin: 15px;
        height: 150px;
        display: inline-block;
        top: 70px;
        left: 175px;
        border-radius: 14px;
        background-color: rgb(78, 184, 255);
        border: 1.5px solid rgb(6, 5, 70);
        box-shadow: inset 0 0 1em rgb(4, 0, 255), 0 0 1em rgb(0, 0, 0);
        font-size: 15px;
        color: black;
        font-weight: bolder;    
    }
    .servicos:hover{
        border-radius: 14px;
        -webkit-transform: scale(1.1);
    }
    h4{
        margin: 10px;
        position: relative;
    }
    #oservicos h3{
        position: relative;
        text-align: center;
        left: 178px;
        height: 20px;
        width: 995px;
        top: 70px;
        border-radius: 14px;
        background-color: rgb(0, 0, 0);
        border: 1.5px solid rgb(6, 5, 70);
        box-shadow: inset 0 0 1em rgb(4, 0, 255), 0 0 1em rgb(0, 0, 0);
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        transition: all 0.5s;
    }
    #oservicos h3:hover{
        border-radius: 14px;
        -webkit-transform: scale(1.1);
    }
    .portifolio{
        transition: all 0.5s;
        position: relative;
        text-align: center;
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        width: 1000px;
        height: 300px;
        top: 275px;
        left: 175px;
        background-color: rgb(0, 0, 0);
        border-radius: 14px;
        border: 1.5px solid rgb(4, 0, 255);
        box-shadow: inset 0 0 1em rgb(255, 255, 255), 0 0 1em rgb(0, 238, 255);        
    }
    .portifolio img{
        width: 150px;
        bottom: 140px;
        height: 150px;
        position: relative;
        margin: 10px;
    }
    .portifolio p{
        bottom: 150px;
        position: relative;
        text-align: center;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }
    .portifolio:hover{
        border-radius: 14px;
        -webkit-transform: scale(1.1);
        text-shadow:0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
    }
    .contato{
        transition: all 0.5s;
        position: relative;
        text-align: center;
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        width: 650px;
        height: 300px;
        top: 300px;
        left: 27%;
        background-color: rgb(0, 141, 184);
        border-radius: 14px;
        border: 1.5px solid rgb(0, 0, 0);
        box-shadow: inset 0 0 1em rgb(80, 255, 232), 0 0 1em rgb(0, 0, 0);
    }
    .contato:hover{
        border-radius: 14px;
        -webkit-transform: scale(1.1);
        text-shadow:0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 0, 0);
    }
    input{
        width: 200px;
        height: 10px;
        padding: 5px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
    }
    button{
        position: relative;
        font-weight: bolder;
        top: 10px;
        right: 8%;
        width: 100px;
        height: 30px;
        background-color: rgb(0, 255, 179);  
        border: 2px solid rgb(0, 0, 0);      
        color: rgb(0, 0, 0);
        border-radius: 10px;
        text-align: center;
        margin-left: 120px;
    }
    footer{
        position: relative;
        font-weight: bolder;
        top: 350px;
        left: 500px;
        width: 300px;
        height: 50px;
    }
    footer img{
        position: relative;
        bottom: 58px;
        left: 320px;
        width: 35px;
        height: 25px;
    }
    #email{
        position: relative;
        left: 10px;
        font-weight: bolder;
        font-size: 14px;
    }
    #telefone{
        position: relative;
        bottom: 30px;
        left: 260px;
        font-weight: bolder;
        font-size: 14px
    }
    .fim{
        color: rgb(0, 0, 0);
        position: relative;
        font-weight: bolder;
        bottom: 20px;
        right: 130px;
        width: 430px;
        height: 45px;
        background-color: rgb(51, 207, 255);
        border-radius: 14px;
        border: 1.5px solid rgb(0, 0, 0);
        box-shadow: inset 0 0 1em rgb(80, 255, 232), 0 0 1em rgb(0, 0, 0);
    }